@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('./assets/fonts/GoogleSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('./assets/fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('./assets/fonts/GoogleSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'GoogleSans-Regular', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Helvetica Neue, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-height: 100vh;
    overflow: hidden;

    --jd-color-panel: #e4e8ec;
}
.jodit-toolbar__box,
.jodit-toolbar__box:not(:empty) {
    background-color: #e4e8ec !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
